* {
    border: 1px solid red;
    font-family:'Courier New', Courier, monospace;
}
.navigation {
    padding: 5px 25px;
    display:flex;
    justify-content: space-between;
}
.logo {
    width: 100px;
}
.nav {
    text-align: center;
    nav-down: current;
}

.main_face {

    background-image: url('media/face_background.jpg');
    height:700px;
    display: grid;
    vertical-align: auto;
    align-items: center;
}

.first_title h1{
    font-size: 400%;
}
.first_title{
    display: grid;
    align-items: center;
    text-align: center;
}
.first_title h2{
    font-size: 150%;
}
