@import "https://unpkg.com/open-props";
/* @import "https://unpkg.com/open-props/normalize.min.css"; */

body{
    background-image: url(media/Rr.jpeg);
    background-attachment: fixed;
    /* border: 1px solid red; */
    font-family:'Courier New', Courier, monospace;
    color:black;
}

.navigation{
    padding: 5px 25px;
    display:flex;
    justify-content: space-between;
    font-size: 150%;
    background-image: none;

}

.scroller{
    height: 7px;
    position:fixed;
    inset:0 0 auto;
    background-color: black;
    background-image: none;
}

button{
    border-radius: 10px;
    margin:10px;
    height: 30%;
    width: auto;
    font-size: large;
}

button:hover{
    background-image: url(media/hh.jpg);
    opacity: 0.5;
    border:#000;
}


.logo img{
    height: 150px;
    width: auto;
}
.nav{
    padding: 10px;
    display:inline-flex;
    text-align: center;
    align-items: center;
    nav-down: current;
    vertical-align:center;
}

.nav a{
    margin: 10px;
}

#main_face{

    /* background-image: url('media/face_background.jpg'); */
    margin-left: 20%;
    margin-right: 20%;
    height:700px;
    display: grid;
    vertical-align: center; 
    align-items: center; 
    text-align-last: center;
}

#first_title h1{
    font-size: 400%;
    width: auto ;
}

#first_title{
    width: auto;
    display: fixed;
    align-items: center;
    text-align: center;
}

#first_title h2{
    font-size: 150%;
}

.member{
    border: 2px solid #9e9e9e;
    padding: 2%;
    margin: 10%;
    display: flex;
}

.member, .members_info, .members_info ul, .members_info h3, .members_info li, .members_info p, .members_info h2{
    background-color: white;
    background-image: none;
}

.member:hover{
    box-shadow: 5px 10px black;
}

.member img{
    border-radius: 50%;
    width: 23%;
    height: 25%;
    border: 1px solid #ddd;
}

.member img:hover{
    /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
    box-shadow: 3px 5px 3px rgba(68, 112, 83, 0.5);
    background-image: none;
  }

.members_info{
    padding-left: 10px;
    margin-left: 10px;
    display: fixed;
}
.name{
    font-size: 70px;
    padding-left: 3%;
}

.motto a{
    font-style: italic;
    color: #9e9e9e;
}


.iimg{
    height: 10%;
    -webkit-mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
    overflow-x: auto;
    overscroll-behavior-x: contain;
    display: flex;
    gap: var(--size-10);
    align-items: baseline;
    padding: var(--size-10);
  }
  
.iimg img{
block-size: var(--size-15);
aspect-ratio: var(--ratio-square);
background-color: var(--surface-2);
border-radius: var(--radius-3);
box-shadow: var(--shadow-4);
}

.iimg img:hover{
    width: 30%;
    height: auto;
}

  

#evaluation{
    max-height: max-content;
    padding: 10%;
    display: grid;
    align-items: center;
    align-content: center;
}

th, td{
    height: 30px;
    border-bottom: 3px solid #ddd;
}

td{
    height: 50px;
}

.foot{
    display: flex;
    position:relative;
    align-content: center;
    margin: -5px;
    height:120ex;
    background-color: black;
    background-image: none;
    color: white;
    align-items: center;
    
}

.txt{
}

#infoo{
    margin: 5%;
    margin-bottom: 10%;
    display: flex;
    border: 2px solid #000;
    background-color: white;
    background-image: none;
}

#infoo img{
    width: 23%;
    height: 25%;
    border: 1px solid #ddd;
}
.logos img{
    width: 10%;
    height: auto;
}