* {
    background-image: url(media/R.jpeg);
    background-attachment: fixed;
    border: 1px solid red;
    font-family:'Courier New', Courier, monospace;
    color:white;
}
.navigation {
    padding: 5px 25px;
    display:flex;
    justify-content: space-between;
}
.logo img {
    height: 150px;
    width: auto;
}
.nav {
    text-align: center;
    nav-down: current;
}

.main_face {

    background-image: url('media/face_background.jpg');
    height:700px;
    display: grid;
    vertical-align: auto;
    align-items: center;
}

.first_title h1{
    font-size: 400%;
}
.first_title{
    display: grid;
    align-items: center;
    text-align: center;
}
.first_title h2{
    font-size: 150%;
}

.asliddin {
    padding: 2%;
    display: flex;
}

.asliddin img {
    border-radius: 50%;
    width: 23%;
    height: 25%;
    border: 1px solid #ddd;
}

.asliddin img:hover {
    /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
    box-shadow: 3px 5px 3px rgba(0, 140, 186, 0.5);
  }
.members_info {
    padding-left: 10px;
    margin-left: 10px;
    display: fixed;
}
.name {
    font-size: 70px;
    padding-left: 3%;
}

.motto a{
    font-style: italic;
    color: #9e9e9e;
}

.iimg img {
    width: 20%;
    height: auto;
}